# Common IntelliJ Platform excludes

# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

.idea/.idea.DesignPatternsTutorial/.idea/contentModel.xml
.idea/.idea.DesignPatternsTutorial/.idea/indexLayout.xml
.idea/.idea.DesignPatternsTutorial/.idea/modules.xml
.idea/.idea.DesignPatternsTutorial/.idea/projectSettingsUpdater.xml
.idea/.idea.DesignPatternsTutorial/.idea/vcs.xml
.idea/.idea.DesignPatternsTutorial/.idea/workspace.xml
.idea/.idea.DesignPatternsTutorial/riderModule.iml
DesignPatternsTutorial.sln
DesignPatternsTutorial/Properties/AssemblyInfo.cs
DesignPatternsTutorial/obj/Debug/DesignPatternsTutorial.pdb
DesignPatternsTutorial/obj/Debug/DesignPatternsTutorial.exe
DesignPatternsTutorial/obj/Debug/DesignPatternsTutorial.csproj.FilesWrittenAbsolute.txt
DesignPatternsTutorial/obj/Debug/.NETFramework,Version=v4.6.2.AssemblyAttribute.cs
DesignPatternsTutorial/DesignPatternsTutorial.csproj
DesignPatternsTutorial/bin/Debug/DesignPatternsTutorial.pdb
DesignPatternsTutorial/bin/Debug/DesignPatternsTutorial.exe
